{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
            <div class="row">
                {% for book in books %}
                    <div class="book col-md-4">
                        <h2><a href="{% url 'books_pub' pub_date=book.pub_date %}">{{ book.name }}</a></h2>
                        <p>Автор: {{ book.author }}</p>
                        <p>Дата публикации: {{ book.pub_date }}</p>
                    </div>
                {% endfor %}
            </div>
                {% if index_curr %}
                    {% if pub_date_prev %}
                        <a class="button button-primary" href="{% url 'books_pub' pub_date=pub_date_prev %}">
                            <{{pub_date_prev}}</a>
                            &nbsp
                    {% endif %}
                    {% if pub_date_next %}
                        <a class="button button-primary" href="{% url 'books_pub' pub_date=pub_date_next %}">
                            {{pub_date_next}}></a>
                    {% endif %}
                {% endif %}
    </div>
{% endblock %}